html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
div, input, select {
	box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
}
button:focus {
	outline: none;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}
.relative {
	position: relative;
}
.h-100 {
	height: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
button {
	background-color: #fff;
	border: none;
	border-radius: 50px;
	text-align: center;
	padding: 20px 0; 
  font-size: 16px;
  font-family: "Roboto Condensed";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  min-width: 200px;
  cursor: pointer;
  transition: all .2s ease-out;
}
button:hover {
	background-color: #000;
	color: #fff;
}
.slick-prev, .slick-next {
	min-width: 0;
}
.bold {
	font-weight: bold;
}
.blue {
	color: #67bbde;
}
a {
	font-weight: bold;
	color: #67bbde;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.mobile {
	display: none;
}
.table {
	display: table;
}

.table_cell {
	display: table-cell;
	vertical-align: top;
}
.slick-dots li button:before {
	content: '';
	width: 15px;
	height: 15px;
	background-image: url(../img/slick_nav.png);
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 1;
}
.slick-dots li.slick-active button:before {
	background-image: url(../img/slick_nav_active.png);
}
.bg_1 {
	background-color: #fff;
	background-image: url(../img/bg_1.png);
	background-position: top left;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
	position: relative;
	z-index: 2;
}
.bg_2 {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-image: url(../img/features.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg_3 {
	background-color: #fff;
	background-image: url(../img/bg_3.png);
	background-position: bottom left;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

section .container {
	padding-top: 70px;
	margin-bottom: 50px;
}
.section1 {
	width: 100%;
	overflow: hidden;
	height: 100vh;
	height: 100vh;
	position: relative;
  background: #2FB599;
  background-image: -moz-linear-gradient( -30deg, rgb(93,185,223) 0%, rgb(37,219,161) 100%);
  background-image: -webkit-linear-gradient( -30deg, rgb(93,185,223) 0%, rgb(37,219,161) 100%);
  background-image: -ms-linear-gradient( -30deg, rgb(93,185,223) 0%, rgb(37,219,161) 100%);
	z-index: 2
}
.section1 .container {
	margin-bottom: 0;
}
.bg_text {
  font-size: 600px;
  font-family: "Roboto";
  color: rgba(22, 79, 103, 0.129);
  position: absolute;
  text-transform: uppercase;
  bottom: -85px;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  z-index: 1;
}

.logo {
  font-size: 50px;
  font-family: "Roboto";
	font-weight: bold;
	position: relative;
	left: -65px;
}
.logo span {
	color: #fff;
}
.logo p {
	display: inline-block;
}
.logo:before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 35px;
	background-color: #fff;
}
.section1 .slick-list {
	z-index: 1;
}
.section1 .slick-dots {
	top: 43%;
	width: auto;
	left: 1100px;
	height: 116px;
	overflow: hidden;
	z-index: 2;
}
.section1 .slick-dots li {
	display: block;
	margin-bottom: 30px;
	position: relative;
}
.section1 .slick-dots li:before {
	content: '';
	width: 1px;
	height: 28px;
	display: block;
	background-color: #427f97;
	position: absolute;
	bottom: -27px;
	left: 7px;
	z-index: 1;
	/*display: none;*/
}
.section1 .slick-dots li:after {
	content: '';
	width: 1px;
	height: 28px;
	display: block;
	background-color: #427f97;
	position: absolute;
	top: -31px;
	left: 7px;
	z-index: 1;
}
.section1 .slick-dots li:last-of-type:after {
	content: '';
	background-color: #427f97;
	z-index: 2;
}
.section1 .slick-dots li.slick-active:before {
	background-color: #ffffff;
	z-index: 2;
}
.section1 .slick-dots li.slick-active:after {
	background-color: #ffffff;
	z-index: 2;
}
.slick-dots li button {
	min-width: 0
}
.slider {
	width: 150%;
	position: static;
}
.slider .left_block {
	width: 36.6%;
	left: 0;
	margin: auto;
	z-index: 2;
	display: inline-block;
	margin-top: 170px;
	margin-bottom: 100px;
	position: relative;
}
.slider .left_block:before {
	content: '';
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: #2c7796;
	left: 0;
	top: -50px;
}
.slider .left_block:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: #2c7796;
	left: 0;
	bottom: -50px;
}
.slider .slick-slide {
	/*transition: all 1s ease 0s !important;*/
}
.slider .slick-slide .left_block {
	transform: translateY(300px);
	transition: all 1s ease 0s !important;

}
.slider .slick-slide.slick-active .left_block {
	transform: translateY(0);
}
.slider .slide h1 {
  font-size: 65px;
  font-family: "Roboto Condensed";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  margin-bottom: 50px;
}

.slider .slide p {
  font-size: 18px;
  width: 80%;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.4;
  margin-bottom: 70px;
}
.slider .slide button {
  /*margin-bottom: 100px;*/
}
.slider .right_block {
	position: absolute;
	top: 35%;
	width: 85%;
	right: 10%;
	z-index: 1;
}

.slider .slick-slide .right_block {
	transform: translateX(300px);
	transition: all 1s ease 0s !important;

}
.slider .slick-slide.slick-active .right_block {
	transform: translateX(0);
}

.sale {
	position: absolute;
	top: 15%;
	right: 15px;
	height: 150px;
	width: 150px;
	background-image: url(../img/frame.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: contain;
	padding: 0 10px;
	padding-top: 40px;
	padding-left: 20px;
}
.sale p {
  font-size: 15px;
  font-family: "Roboto Condensed";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.sale p span {
	font-size: 60px;
	display: block;
}
.sale p span sup {
	font-size: 35px;
}
.scroll_block {
	position: absolute;
	bottom: 0;
	z-index: 3;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0);
	/*height: 130px;*/
}
.scroll {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	display: block;
	transition: all .3s ease-out;
}

.scroll:hover {
	bottom: -35px;
}

.nav_buttons_slider {
	position: absolute;
	right: 30px;
	top: 40%;
	z-index: 5;
}
.nav_buttons_slider .slide_nav {
	width: 15px;
	height: 15px;
	background-image: url(../img/slick_nav.png);
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	margin-bottom: 30px;
	cursor: pointer;
}

.nav_buttons_slider .slide_nav.active {
	background-image: url(../img/slick_nav_active.png);
}
.section2 {
	overflow: hidden;
}
.section2 .container{
	position: relative;
}
.section2 .left_block {
	display: inline-block;
	width: 50%;
}
.section2 .left_block h1 {
  font-size: 41px;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  position: relative;
}
.section2 .left_block h1 span {
	color: #67bbde;
}
.section2 .left_block h1:after {
	content: '';
	width: 40px;
	height: 1px;
	position: absolute;
	background-color: #333333;
	left: 0;
	bottom: -16px;
}
.section2 ul {
	margin-top: 100px;
	margin-left: 100px;
	position: relative;
}
.section2 ul:before {
	content: '';
	position: absolute;
	background-color: #333333;
	background: -moz-linear-gradient(top, rgba(51,51,51,0) 0%, rgba(51,51,51,1) 15%, rgba(51,51,51,1) 75%, rgba(51,51,51,0) 100%);
	background: -webkit-linear-gradient(top, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 75%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to bottom, rgba(51,51,51,0) 0%,rgba(51,51,51,1) 15%,rgba(51,51,51,1) 75%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#00333333',GradientType=0 );
	width: 1px;
	height: 110%;
	left: -25px;
	top: 0;
}
.section2 li {
	margin-bottom: 25px;
  font-size: 22px;
  font-family: "Roboto";
}
.section2 li p {
	display: table;
	vertical-align: top;
}
.section2 li span {
	color: #67bbde;
  font-size: 50px;
  font-family: "Roboto";
  /*float: left;*/
  padding-right: 10px;
  font-weight: bold;
  display: table-cell;
  vertical-align: top;
}
.section2 li span.text {
	font-size: 22px;
	color: #000;
	font-weight: normal;
	margin: 0;
}
.section2 li .blue {
	font-size: 22px;
	font-weight: normal;
	display: inline-block;
}
.section2 li .bold {
	font-size: 22px;
	color: #000;
	display: inline-block;
}
.section2 li img {
	padding-right: 10px;
	display: table-cell;
}
.section2 li .plus {
  font-size: 45px;
  font-family: "Roboto";
  padding: 3px 13px;
  color: #fff;
  background-color: #333333;
  border-radius: 100%;
  display: inline-block;
  line-height: 1;
  font-weight: 300;
  position: relative;
  left: -50px;
}
.section2 .right_block {
	display: inline-block;
	width: 49%;
	float: right;
	
}
.section2 .right_block img {
	border: 8px solid #fff;
	width: 80%;
}
.section2 .right_block .photo2 {
	position: absolute;
	right: 0;
	top: 250px;
	width: 25%;
}
.section2 .right_block .photo3 {
	position: absolute;
	right: 9%;
	bottom: 0;
	width: 35%;
}
.section3 {
	overflow: hidden;
}
.section3 .left_block {
	width: 45%;
	display: inline-block;
	vertical-align: top;
}

.section3 .left_block img {
	border: 8px solid #fff;
	width: 44%;
	display: inline-block;
}

.section3 .left_block .photo5 {
	position: relative;
	left: -65px;
	top: 75px;
}

.section3 .right_block {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.section3 .right_block h1 {
  font-size: 45px;
  font-family: "Roboto Condensed";
  color: #67bbde;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 10px;
}

.section3 .right_block p {
  font-size: 18px;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.section3 .right_block .table {
	margin-top: 40px;
}
.section3 .right_block .table .table_row {
	display: table-row;
}
.section3 .right_block .table .table_cell {
	width: 33.3%;
}

.section3 .right_block .table_cell img {
	display: inline-block;
	margin-right: 5px;
	float: left;
}

.section3 .right_block .table_cell p {
	display: inline-block;
	margin: 0;
	margin-right: 5px;
	font-weight: bold;
	text-transform: uppercase;
	width: 70%;
  font-size: 14px;
  font-family: "Roboto";
}

.section4 h1 {
  font-size: 41px;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  margin-bottom: 50px;
  position: relative;
}
.section4 h1 span {
	color: #67bbde;
}
.section4 h1:after {
	content: '';
	width: 40px;
	height: 1px;
	position: absolute;
	background-color: #333333;
	left: 0;
	bottom: -16px;
}
.section4 h2 {
  font-size: 35px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
}
.section4 .left_block {
	margin-top: 40px;
	width: 40%;
	display: inline-block;
}

.section4 .left_block .collaps_block {
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.section4 .left_block .collaps_block .collapse_button {
  font-size: 20px;
  font-family: "Roboto Condensed";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.section4 .left_block .collaps_block .collapse_button:after {
	content: '';
	background-image: url(../img/collaps_button.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 10px;
	height: 6px;
	position: absolute;
	top: 6px;
	right: 0;
	transition: all .5s ease-out;
}

.section4 .left_block .collaps_block .collapse_box {
	display: none;
}

.section4 .left_block .collaps_block .collapse_box p {
  font-size: 16px;
  font-family: "Roboto";
  margin-bottom: 20px;
  margin-top: 20px;
}

.section4 .left_block .collaps_block .collapse_box .after {
	float: left;
	width: 48%;
}

.section4 .left_block .collaps_block .collapse_box .before {
	float: right;
	width: 48%;
}

.section4 .left_block .collaps_block.open .collapse_box {
	display: block;
}

.section4 .left_block .collaps_block.open .collapse_button:after {
	transform: rotate(180deg);
}

.section4 .right_block {
	display: inline-block;
	width: 55%;
	float: right;
	position: relative;
}

.section4 .right_block .vibro_wave_left {
	position: absolute;
	top: 0;
	left: 0;
}
.section4 .right_block .vibro_wave_left img {
	left: 0;
	top: 0;
	width: 100%;
}

.section4 .right_block .vibro_wave_right {
	position: absolute;
	top: 0;
	left: 0;
}
.section4 .right_block .vibro_wave_right img {
	left: 0;
	top: 0;
	width: 100%;
}

.section4 .right_block .wave1 {
	animation: vibro_wave1 2s ease-in 0s infinite;
}

.section4 .right_block .wave2 {
	position: absolute;
	top: 0;
	animation: vibro_wave2 2s ease-in 0s infinite;
}

.section4 .right_block .wave3 {
	position: absolute;
	top: 0;
	animation: vibro_wave3 2s ease-in 0s infinite;
}

.section4 .right_block .main {
	position: relative;
}

.section5 .container {
	padding-top: 50px;
}
.section5 h1 {
  font-size: 41px;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  position: relative;
}
.section5 h1 span {
	color: #67bbde;
}
.section5 h1:after {
	content: '';
	width: 40px;
	height: 1px;
	position: absolute;
	background-color: #333333;
	left: 0;
	bottom: -16px;
}
.section5 .left_block {
	width: 38%;
	display: inline-block;
	margin-top: 80px;
	vertical-align: bottom;
	float: left;
}

.section5 .left_block .photo {
	border-radius: 50%;
	margin: 0 auto;
	width: 72px;
}
.section5 .left_block img {
	border-radius: 50%;
}
.section5 .left_block .name {
	text-align: center;
  font-size: 18px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  margin-top: 10px;
}
.section5 .left_block .text {
	margin-top: 30px;
	margin-bottom: 40px;
  font-size: 16px;
  font-family: "Roboto";
  padding-left: 30px;
  position: relative;
}

.section5 .left_block .text:before {
	content: '“';
	position: absolute;
	top: -10px;
	left: 0;
  font-size: 70px;
  font-family: "Roboto";
}


.section5 .slick-dots {
	text-align: left;
	padding-left: 25px;
}
.section5 .slick-dots li button:before {
	content: '';
	width: 14px;
	height: 14px;
	background-image: url(../img/dots_reviews.png);
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 1;
}
.section5 .slick-dots li.slick-active button:before {
	background-image: url(../img/dots_reviews_active.png);
}

.section5 .right_block {
	width: 55%;
	display: inline-block;
	float: right;
	position: relative;
	vertical-align: bottom;
	margin-top: 70px;
}

.section5 .right_block .product {
	position: absolute;
	width: 70%;
	left: -70px;
	top: 0;
	transition: transform 1.2s cubic-bezier(.165,.84,.44,1);
}
.section5 .right_block .text_block {
	float: right;
	margin-top: 70px;
	max-width: 70%
}
.section5 .right_block .text_block h3 {
  font-size: 24px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.section5 .right_block .text_block .stars {
	text-align: center;
	margin-bottom: 40px;
}
.section5 .right_block .text_block .rating_text {
  font-size: 20px;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.section5 .right_block .text_block .rating_text span {
  font-size: 36px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
}

.section6 {
	position: relative;
	z-index: 2;
	text-align: center;
	color: #fff;
}

.section6 h1 {
  font-size: 48px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.section6 p {
  font-size: 18px;
  font-family: "Roboto";
  margin-bottom: 55px;
}

.section6 .green_button {
	background-color: #3fcf38;
	color: #000;
}
.section6 .green_button:hover {
	background-color: #27f01d;
	color: #000;
}

.section7 h1 {
  font-size: 62px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
}
.section7 h2 {
  font-size: 34px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section7 p {
  font-size: 16px;
  font-family: "Roboto";
  width: 65%;
}
.section7 .eyes {
	display: table;
	text-align: center;
	width: 90%;
	table-layout: fixed;
	margin: 80px auto 110px;
}
.section7 .eye {
	display: table-cell;
	text-align: center;
}
.section7 .eye img {
	width: 75%;
	margin-bottom: 15px;
}
.section7 .eye p {
	width: 100%;
	font-weight: bold;
	font-size: 15px;
}
.section7 .color_blocks {
	position: relative;
}
.section7 .color_blocks .left_block {
	background-image: url(../img/color_block1.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	padding: 50px 0;
	float: left;
	width: 60%;
	position: relative;
	z-index: 3;
	padding-left: 20%;
	padding-right: 15%;
}
.section7 .color_blocks .left_block h2 {
  font-size: 35px;
  font-family: "Roboto Condensed";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}
.section7 .color_blocks .left_block p {
  font-size: 14px;
  font-family: "Roboto";
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}
.section7 .color_blocks .right_block {
	background-image: url(../img/color_block2.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	background-size: contain;
	padding: 40px 0;
	float: right;
	width: 60%;
	position: absolute;
	right: 0;
	top: -85px;
	text-align: center;
}
.section7 .color_blocks .right_block h2 {
  font-size: 35px;
  font-family: "Roboto";
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.section8 {
	position: relative;
	/*overflow: hidden;*/
}
.section8 .container {
	position: relative;
	margin-bottom: 110px;
}
.section8 h1 {
  font-size: 62px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  width: 60%;
}
.section8 h2 {
  font-size: 34px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 60%;
}
.section8 .chart_block {
	width: 60%;
}
.section8 .chart_block .chart {
	position: relative;
  font-size: 14px;
  font-family: "Roboto Condensed";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 20px;
  margin-bottom: 10px;
  overflow: hidden;
}
.section8 .chart_block .chart .line {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center right;
	-webkit-background-size: cover;
	background-size: cover;
	animation-direction: reverse;
}
.section8 .chart_block .chart span {
	position: relative;
}

.section8 .chart_block .chart_1 {
	width: 100%;
}
.section8 .chart_block .chart_1 .line {
	background-image: url(../img/chart1.png);
}

.section8 .chart_block .chart_2 {
	width: 33%;
}
.section8 .chart_block .chart_2 .line {
	background-image: url(../img/chart2.png);

}
.section8 .chart_block .chart_3 {
	width: 66%;
}
.section8 .chart_block .chart_3 .line {
	background-image: url(../img/chart3.png);
}
.section8 .chart_block .chart_4 {
	width: 50%;
}
.section8 .chart_block .chart_4 .line {
	background-image: url(../img/chart4.png);
}
.section8 p {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: bold;
  width: 50%;
}
.section8 .desc {
	width: 41%;
  font-size: 14px;
  font-family: "Roboto";
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: normal;
}
.section8 .arm {
	position: absolute;
	right: -10%;
	width: 50%;
	top: 45%;
	transition: transform 1.2s cubic-bezier(.165,.84,.44,1);
	z-index: 2
}
.section8 .bg_text {
	/*z-index: 3;*/
	font-size: 600px;
	bottom: -200px;
	left: -90px;
}
.section9 {
	overflow: hidden;
}
.section9 .container {
	border-bottom: 1px solid #308f7f;
	padding-bottom: 0;
	margin-bottom: 0;
}
.section9 h1 {
  font-size: 62px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
}
.section9 h2 {
  font-size: 34px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section9 .left_block {
	position: relative;
	width: 60%;
	float: left;
}
.section9 .left_block .prod {
	position: relative;
	left: -20%;
	top: 45px;
	transition: transform 1.2s cubic-bezier(.165,.84,.44,1);
}
.section9 .left_block .price {
	position: absolute;
	top: 30%;
	right: -7%;
}
.section9 .left_block .price p {
	position: absolute;
}
.section9 .left_block .price .old_price {
	top: 15px;
	width: 72%;
	text-align: center;
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(166, 166, 166);
  text-decoration: line-through;
}
.section9 .left_block .price .new_price {
	top: 68px;
	width: 92%;
	margin-left: 6%;
	text-align: center;
  font-size: 30px;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
}
.section9 .left_block .price .delivery_price {
	top: 128px;
	width: 70%;
	margin-left: 28%;
	text-align: center;
  font-size: 20px;
  font-family: "Roboto";
  color: rgb(166, 166, 166);
}
.section9 .left_block .price .delivery_price span {
	font-size: 15px;
	display: block;
}

.section9 .right_block {
	width: 35%;
	float: right;
	margin-top: -15px;
}
.section9 .right_block p {
  font-size: 32px;
  font-family: "Roboto Condensed";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section9 .right_block form {
	background-color: #fff;
	padding: 45px 35px 25px;
}

.section9 .right_block form select, .section9 .right_block form input {
	width: 100%;
	border: 1px solid #929292;
	border-radius: 10px;
  font-size: 16px;
  font-family: "Roboto";
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
}
.section9 .right_block form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 0;
}
.section9 .right_block form .select {
	position: relative;
	margin-bottom: 15px;

}
.section9 .right_block .select:after {
  content: '▼';
  font-family: "Roboto";
  text-align: center;
  padding-top: 7%;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 5%;
  z-index: 1;
  text-align: center;
  width: 30px;
  height: 90%;
  background-color: #fff;
  /*border: 1px solid #000;*/
  pointer-events: none;
  box-sizing: border-box;
}
.section9 .right_block form select:focus, .section9 .right_block form input:focus {
	outline: none;
	border: 1px solid #000;
}
.section9 .right_block form button {
	background-color: #3fcf38;
  color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.section9 .right_block form button:hover {
	background-color: #27f01d;
  color: #000;
}

footer {
	text-align: center;
	padding: 40px;
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(48, 143, 127);

}
/*анимация*/
@keyframes vibro_wave1 {
  0% { opacity: 0; }
  33% { opacity: 1; }    
  100% { opacity: 1; }
}
@-webkit-keyframes vibro_wave1 {
	0% { opacity: 0; } 
	33% { opacity: 1; }  
	100% { opacity: 1; }
}
@keyframes vibro_wave2 {
  0% { opacity: 0; }
  66% { opacity: 1; }    
  100% { opacity: 1; }
}
@-webkit-keyframes vibro_wave2 {
	0% { opacity: 0; } 
	66% { opacity: 1; }  
	100% { opacity: 1; }
}
@keyframes vibro_wave3 {
  0% { opacity: 0; }  
  100% { opacity: 1; }
}
@-webkit-keyframes vibro_wave3 {
	0% { opacity: 0; } 
	100% { opacity: 1; }
}
@media (max-width:1250px) {
	.section1 .slick-dots {
		left: 1025px;
	}
}

@media (max-width:1146px) {
	.container {
		width: 900px;
	}
	.section1 .slick-dots {
		left: 920px;
	}
	.section3 .right_block .table_cell img {
		width: 28px;
	}
	.section3 .right_block .table_cell p {
		font-size: 13px;
	}
	.section7 .container {
		margin-bottom: 20px;
	}
	.section7 .color_blocks .left_block {
		padding-left: 16%;
	}
	.section8 .chart_block .chart_1 {
		font-size: 13px;
		padding: 13px 15px;
	}
	.section8 .chart_block .chart_2 {
		font-size: 13px;
		padding: 13px 15px;
	}
	.section8 .chart_block .chart_3 {
		font-size: 13px;
		padding: 13px 15px;
	}
	.section8 .chart_block .chart_4 {
		font-size: 13px;
		padding: 13px 15px;
	}
	.section8 .arm {
		top: 65%;
	}
	.section9 .left_block .prod {
		top: 85px;
	}
	.section9 .container {
		padding-bottom: 35px;
	}
}

@media screen and (max-width:991px)  {
	section .container {
		padding-top: 40px;
		margin-bottom: 30px;
	}
	.container {
		width: 320px;
		overflow: hidden;
	}
	.mobile {
		display: block;
	}
	.section1 {
		height: auto;
	}
	.bg_text {
		display: none;
	}
	.bg_3 {
		background-position: bottom center;
	}
	.logo {
		left: 0;
		font-size: 39px;
	}
	.logo:before {
		width: 30px;
		height: 30px;
	}
	.slider {
		width: 100%;
	}
	.slider .left_block {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.slider .slide h1 {
		font-size: 35px;
		margin-bottom: 20px;
	}
	.slider .slide p {
		width: 100%;
	  font-size: 15px;
	}
	.slider .slide button {
		display: block;
		margin: 0 auto;
		margin-top: 185px;
	}
	.slider .right_block {
		width: 100%;
		right: 0;
		top: auto;
		bottom: 21%;
	}
	.section1 .slick-dots {
		display: none;
	}
	.sale {
		display: none;
	}
	.scroll {
		display: none;
	}
	.section2 .left_block {
		width: 100%;
		margin-bottom: 50px;
	}
	.section2 .left_block h1 {
		font-size: 30px;
	}
	.section2 ul {
		margin-left: 50px;
		margin-top: 60px;
	}
	.section2 ul:before {
		height: 100%;
	}
	.section2 li {
		font-size: 16px;

	}
	.section2 li img {
		min-width: 33px;
	}
	.section2 li .blue {
		font-size: 16px;
	}
	.section2 li span {
		font-size: 36px;
	}
	.section2 li span.text {
		font-size: 16px;
	}
	.section2 li .bold {
		font-size: 16px;
	}
	.section2 .right_block {
		width: 100%;
		position: relative;
		padding-bottom: 170px;
		overflow: hidden;
	}
	.section2 .right_block img {
		width: 70%;
		border: 5px solid #fff;
	}
	.section2 .right_block .photo2 {
		top: 90px;
    width: 45%;
	}
	.section2 .right_block .photo3 {
		right: 23%;
		width: 55%;
	}
	.section3 .container {
		position: relative;
	}
	.section3 .left_block {
		width: 100%;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		/*padding: 15px;*/
	}
	.section3 .left_block img {
		border: 5px solid #fff;
		box-sizing: border-box;
		width: 55%;
		bottom: 35px;
		position: relative;
	}
	.section3 .left_block .photo5 {
		position: absolute;
		bottom: 0;
		right: 0;
		left: auto;
		top: auto;
	}
	.section3 .right_block {
		width: 100%;
		padding-bottom: 275px;
	}
	.section3 .right_block h1 {
		font-size: 29px;
	}
	.section3 .right_block p {
		font-size: 15px;
	}
	.section3 .right_block .table {
		display: block;
	}
	.section3 .right_block .table .table_cell {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.section3 .right_block .table_cell img {
		float: none;
		width: 30px;
		vertical-align: middle;
	}
	.section3 .right_block .table_cell p {
  	font-size: 14px;
  	vertical-align: middle;
	}

	.section4 h1 {
		font-size: 30px;
	}
	.section4 h2 {
		font-size: 25px;
	}
	.section4 .left_block {
		width: 100%;
	}
	.section4 .left_block .collapse {
		margin-top: 20px;
	}
	.section4 .left_block .collaps_block {
		padding-right: 0;
	}
	.section4 .left_block .collaps_block .collapse_button {
		font-size: 18px;
	}
	.section4 .right_block {
		width: 100%;
		margin-top: 40px;
	}

	.section5 h1 {
		font-size: 30px;
	}
	.section5 .left_block {
		width: 100%;
	}
	.section5 .left_block .photo {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		margin-left: 30px;
	}
	.section5 .left_block .name {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
	.section5 .slick-dots {
		bottom: -10px;
	}
	.section5 .right_block {
		width: 100%;
		margin-top: 20px;
	}
	.section5 .right_block .product {
		position: relative;
		width: auto;
		margin: 0 auto;
		left: 0;
		top: auto;
		bottom: 0;
	}
	.section5 .right_block .text_block {
		float: none;
		margin-top: 10px;
		max-width: 100%
	}
	.section5 .right_block .text_block h3 {
		font-size: 19px;
	}
	.section5 .right_block .text_block .stars .star {
		width: 45px;
	}

	.section7 h1 {
		font-size: 36px;
	}
	.section7 h2 {
		font-size: 19px;
	}
	.section7 p {
		width: 100%;
		font-weight: bold;
	}
	.section7 .eyes {
		display: block;
		margin-top: 35px;
		margin-bottom: 28px;
	}
	.section7 .eye {
		display: block;
	}
	.section7 .eye img {
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.section7 .slick-prev, .section7 .slick-next {
		top: 38%;
	}
	.section7 .slick-prev {
		left: 0;
	}
	.section7 .slick-next {
		right: 0;
	}
	.section7 .slick-next:before {
		content: '';
		background-image: url(../img/slick_right.png);
		width: 20px;
		height: 33px;
		display: block;
	}
	.section7 .slick-prev:before {
		content: '';
		background-image: url(../img/slick_left.png);
		width: 20px;
		height: 33px;
		display: block;
	}
	.section7 .color_blocks .right_block {
		display: none;
	}
	.section7 .color_blocks .left_block {
		width: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		padding: 35px 0;
		padding-left: 8%;
	}
	/*.section8 {
		width: 320px;
		margin: 0 auto;
		overflow: visible;
	}*/
	.section8 .container {
		margin-bottom: 30px;
	}
	.section8 h1 {
		width: 100%;
		font-size: 36px;
	}
	.section8 h2 {
		font-size: 16px;
		width: 100%;
	}
	.section8 .chart_block {
		width: 100%;
	}
	.section8 .chart_block .chart_1 {
		font-size: 12px;
		padding: 15px 20px;
		white-space: normal;
	}
	.section8 .chart_block .chart_2 {
		width: 55%;
		font-size: 12px;
		padding: 15px 20px;
		white-space: normal;
	}
	.section8 .chart_block .chart_3 {
		font-size: 12px;
		width: 77%;
		padding: 9px 20px;
		white-space: normal;
	}
	.section8 .chart_block .chart_4 {
		font-size: 12px;
		width: 62%;
		padding: 15px 20px;
		white-space: normal;
	}
	.section8 .desc {
		width: 100%;
	}
	.section8 p {
		width: 100%;
	}
	.section8 .arm {
		position: relative;
		width: 90%;
		margin-left: 20%;
		/*max-width: none;*/
		right: auto;
		top: auto;
		bottom: 0;
	}
	.section9 h1 {
		width: 100%;
		font-size: 36px;
	}
	.section9 h2 {
		font-size: 16px;
		width: 100%;
	}
	.section9 h2 br {
		display: none;
	}
	.section9 .left_block {
		width: 100%;
	}
	.section9 .left_block .prod {
		left: 0;
		top: 0;
		margin-top: 40px;
	}
	.section9 .right_block {
		width: 100%;
	}
	.section9 .left_block .price {
		top: 0;
		right: auto;
		left: 0;
	}
	.section9 .left_block .price {
		width: 50%;
	}
	.section9 .left_block .price .old_price {
		font-size: 16px;
		top: 10px;
	}
	.section9 .left_block .price .new_price {
		font-size: 22px;
		top: 40px;
	}
	.section9 .left_block .price .delivery_price {
		font-size: 16px;
		top: 73px;
	}
	.section9 .left_block .price .delivery_price span {
		font-size: 13px;
	}
	.section9 .right_block form {
		margin-bottom: 40px;
	}
	.section9 .right_block form select, .section9 .right_block form input {
		font-size: 15px;
	}
}